<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <!--OpenGraph tag go here-->
        <title>Loading...</title>
        <style>
            #fish {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            #warning {
                font-size: 0.7rem;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="fish">
            <pre>Loading content from PDS...</pre>
            <img src="https://files.catbox.moe/zq2bqo.gif" />
            <div id="warning">
                <pre>
If you don't see a page loading in a short while, check that you're not spoofing your User-Agent! :'(</pre
                >
            </div>
        </div>
        <script type="module" src="/index.js"></script>
    </body>
</html>
